h1 {
    font-weight: bold;
    margin: 0;
}

h2 {
    text-align: center;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

span {
    font-size: 12px;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

button:not(.hide-password) {
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #ac0e0e;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

button:disabled,
button[disabled]{
  border: 1px solid #383838;
  background-color: #423939;
  color: #ffffff;
}

button:active:not(.hide-password) {
    transform: scale(0.95);
}

button:focus:not(.hide-password) {
    outline: none;
}

button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}

form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.mat-input-element {
    font: inherit;
    background: #0c0c0c00;
    color: dimgray;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
    vertical-align: bottom;
    text-align: inherit;
    box-sizing: content-box;
}

.form-group{
    margin-top: 10px;
}

mat-label{
    color: rgb(43, 38, 38);
}

button.btn.btn-outline-primary.facebookButton{
    padding-inline: 56px;
    background-color: #4040c1f7;
    border-color: #2121e7a1;
}
