.mat-table{    
    border-radius: 12px;
    overflow:hidden !important;
  }
  
  
  table {
      width: 93%;
      background-color: rgb(236, 229, 229);
      /* background-color: rgb(73, 68, 68); */
      border-collapse:collapse;
      border-radius: 5em;
    }

    th ,td{
      
      width: auto;
      justify-content: center;

    }
  
    .sameh {
      margin-left: 3.333333% !important;
  }
    table tr:last-child td /*To remove the last border*/
    {
      border-bottom:0 solid
    }
  
    td{
        color: black;
    }
  
    th{
      color: white;
      background-color: #d70926;
     
      
    }
    table[_ngcontent-cpq-c245] {
      width: 91%;
      background-color: rgb(73, 68, 68);
      border-collapse: collapse;
      border-radius: 5em;
  }
    
  
  .col-sm-4 {
      padding-left: 0px;
     
  }
  
  
  
  
  input {
    color: black !important;
  }
  
  
    .mat-form-field-appearance-outline .mat-form-field-outline {
       color: white;
    }
   
    .mat-hint, input, ::placeholder, .mat-form-field-label {
          color: white;
       }
    
	   .mat-sort-header-container {
		justify-content: center !important;
	  }
    td, th {
      text-align: center !important;
      vertical-align: middle !important;
    }

/* Toggle Button */
.cm-toggle {
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	border: 0;
	outline: 0;
	cursor: pointer;
	margin: 10px;
}


/* To create surface of toggle button */
.cm-toggle:after {
	content: '';
	width: 35px;
	height: 14px;
	display: inline-block;
	background: rgba(196, 195, 195, 0.55);
	border-radius: 18px;
	clear: both;
}


/* Contents before checkbox to create toggle handle */
.cm-toggle:before {
	content: '';
	width: 17px;
	height: 17px;
	display: block;
	position: absolute;
	left: 0;
	top: 0px;
	border-radius: 50%;
	background: rgb(255, 255, 255);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}


/* Shift the handle to left on check event */
.cm-toggle:checked:before {
	left: 20px;
	box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.6);
}
/* Background color when toggle button will be active */
.cm-toggle:checked:after {
	background: #18d26e;
  width: 35px;
 
  
}
  