


<div class="container-fluid">
  <button  id="export" (click)="exportToExcel()" class="btn btn-success text-white ">Excel</button>
  <button  id="export1" (click)="exportToCSV('members.csv')" class="btn btn-primary mx-3">CSV</button>
  <button  class="btn btn-danger" (click)="printBtn()"><span class="glyphicon glyphicon-print"></span> Print</button>

<br><br><br>

<div id="example">
<table mat-table [dataSource]="admin.Testimonial" class="mat-elevation-z8 offset-1" id="tableData">

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> First Name </th>
      <td mat-cell *matCellDef="let ITestimonialList"> {{ITestimonialList.firstName}} </td>
    </ng-container>
     
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> Last Name </th>
      <td mat-cell *matCellDef="let ITestimonialList"> {{ITestimonialList.lastName}} </td>
    </ng-container>
  
    <ng-container matColumnDef="message">
      <th mat-header-cell *matHeaderCellDef> Message </th>
      <td mat-cell *matCellDef="let ITestimonialList"> {{ITestimonialList.message}} </td>
    </ng-container>

    <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef> Time </th>
        <td mat-cell *matCellDef="let ITestimonialList"> {{ITestimonialList.time}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let ITestimonialList"> 
           
        <input type="checkbox"  (click)="StatusCheck($event.target,ITestimonialList.id)" [checked]="ITestimonialList.status">
            
        </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
  </table>
</div>
  </div>
