<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="background">
        <div class="Circle1"></div>
        <div class="Circle2"></div>
        <div class="Circle3"></div>
        <div class="content">
                   
            <span class="Condition"><i class="material-icons sun">wb_sunny</i> {{this.weathernow.summary}}</span>
         
            <span style="margin-left: 170px;" class="Temp">{{this.weathernow.temperature}}<span id="F">&#8457;</span></span>
        </div>
      </div>
      </div>
    </body>