<div class="row">
    <form [formGroup]="aboutForm"  (ngSubmit)="UpdateAbout(1,fileinput1.files);" 
    class="col-5" style="margin-left: 35px; border:1px solid rgb(164, 170, 228); color: rebeccapurple;">

            <br>
            <h2 style="text-align: center;">The First About</h2>
            <input type="text" 
            formControlName="title" class="form-control"
             placeholder="Enter The Title" style="background: transparent;" />

             <br>

             <input type="text"
                cols="40" 
                rows="5" 
               style="width:380px; height:100px;background: transparent;" 
                formControlName="description" placeholder="Enter The Description" class="form-control" />

                <br>
                <input type="file" #fileinput1
                formControlName="image" class="form-control" style="background:transparent;"  />

                 <br>

                 <button class="btn btn-success" style="margin-left: 40%; margin-bottom: 20px;" >Update</button>
                 <br>

    
    </form> 


    <form [formGroup]="aboutForm"  (ngSubmit)="UpdateAbout(2,fileinput2.files);" 
    class="col-5" style="margin-left:60px; border:1px solid rgb(164, 170, 228); color: rebeccapurple;">

            <br>
            <h2 style="text-align: center;">The Second About</h2>
            <input type="text" 
            formControlName="title" class="form-control"
             placeholder="Enter The Title" style="background: transparent;" />

             <br>

             <input type="text"
                cols="40" 
                rows="5" 
               style="width:380px; height:100px;background: transparent;" 
                formControlName="description" placeholder="Enter The Description" class="form-control" />

                <br>
                <input type="file" #fileinput2 
                formControlName="image" class="form-control" style="background:transparent;"  />

                 <br>

                 <button class="btn btn-success" style="margin-left: 40%; margin-bottom: 20px;" >Update</button>
                 <br>

    
    </form> 

</div>
<br><br>

<div class="row">
    <form [formGroup]="aboutForm"  (ngSubmit)="UpdateAbout(3,fileinput3.files);" 
    class="col-5" style="margin-left: 35px; border:1px solid rgb(164, 170, 228); color: rebeccapurple;">

            <br>
            <h2 style="text-align: center;">The Third About</h2>
            <input type="text" 
            formControlName="title" class="form-control"
             placeholder="Enter The Title" style="background: transparent;" />

             <br>

             <input type="text"
                cols="40" 
                rows="5" 
               style="width:380px; height:100px;background: transparent;" 
                formControlName="description" placeholder="Enter The Description" class="form-control" />

                <br>
                <input type="file" #fileinput3 
                formControlName="image" class="form-control" style="background:transparent;"  />

                 <br>

                 <button class="btn btn-success" style="margin-left: 40%; margin-bottom: 20px;" >Update</button>
                 <br>

    
    </form> 


    <form [formGroup]="aboutForm"  (ngSubmit)="UpdateAbout(4,fileinput4.files);" 
    class="col-5" style="margin-left:60px; border:1px solid rgb(164, 170, 228); color: rebeccapurple;">

            <br>
            <h2 style="text-align: center;">The 4th About</h2>
            <input type="text" 
            formControlName="title" class="form-control"
             placeholder="Enter The Title" style="background: transparent;" />

             <br>

             <input type="text"
                cols="40" 
                rows="5" 
               style="width:380px; height:100px;background: transparent;" 
                formControlName="description" placeholder="Enter The Description" class="form-control" />

                <br>
                <input type="file" #fileinput4 
                formControlName="image" class="form-control" style="background:transparent;"  />

                 <br>

                 <button class="btn btn-success" style="margin-left: 40%; margin-bottom: 20px;" >Update</button>
                 <br>

    
    </form> 

</div>
<br><br>


<div class="row">
    <form [formGroup]="aboutForm"  (ngSubmit)="UpdateAbout(5,fileinput5.files);" 
    class="col-5" style="margin-left: 35px; border:1px solid rgb(164, 170, 228); color: rebeccapurple;">

            <br>
            <h2 style="text-align: center;">The 5th About</h2>
            <input type="text" 
            formControlName="title" class="form-control"
             placeholder="Enter The Title" style="background: transparent;" />

             <br>

             <input type="text"
                cols="40" 
                rows="5" 
               style="width:380px; height:100px;background: transparent;" 
                formControlName="description" placeholder="Enter The Description" class="form-control" />

                <br>
                <input type="file" #fileinput5 
                formControlName="image" class="form-control" style="background:transparent;"  />

                 <br>

                 <button class="btn btn-success" style="margin-left: 40%; margin-bottom: 20px;" >Update</button>
                 <br>

    
    </form> 


    <form [formGroup]="aboutForm"  (ngSubmit)="UpdateAbout(6,fileinput6.files);" 
    class="col-5" style="margin-left:60px; border:1px solid rgb(164, 170, 228); color: rebeccapurple;">

            <br>
            <h2 style="text-align: center;">The 6th About</h2>
            <input type="text" 
            formControlName="title" class="form-control"
             placeholder="Enter The Title" style="background: transparent;" />

             <br>

             <input type="text"
                cols="40" 
                rows="5" 
               style="width:380px; height:100px;background: transparent;" 
                formControlName="description" placeholder="Enter The Description" class="form-control" />

                <br>
                <input type="file" #fileinput6 
                formControlName="image" class="form-control" style="background:transparent;"  />

                 <br>

                 <button class="btn btn-success" style="margin-left: 40%; margin-bottom: 20px;" >Update</button>
                 <br>

    
    </form> 

</div>
<br><br>
   