<body [ngClass]="{darkTheme: app.isDark }">
<br><br>
    
<h1>Testimonials</h1>
<br><br>
<div id="myCarousel" class="carousel slide" data-ride="carousel" >
    <!-- Carousel indicators -->
    <ol class="carousel-indicators" >
        <ng-container  *ngFor= "let item of service.testimonial;let i=index; first as isFirst">
           
        <li data-target="#myCarousel" data-slide-to="0" [ngClass]= "isFirst ? 'active' : '' "></li>
        
        </ng-container>
    </ol> 

    <!-- Wrapper for carousel items -->
    <div class="carousel-inner" >	
       <ng-container  *ngFor= "let item of service.testimonial;let i=index; first as isFirst">
           
            <div [ngClass]= "isFirst ? 'carousel-item active' : 'carousel-item' " >
                
                <div class="img-box"><img src="../../../assets/images/faces/{{item.imagePath}}" alt=""></div>
                <p class="testimonial">{{ item.message }}</p>
                <p class="overview"><b>{{ item.firstName }} {{item.lastName}}</b></p>
                
                
            </div>

        </ng-container>
       
    </div>
    <!-- Carousel controls -->
    <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
        <i class="fa fa-angle-left"></i>
    </a>
    <a class="carousel-control-next" href="#myCarousel" data-slide="next">
        <i class="fa fa-angle-right"></i>
    </a>
</div>
</body>
<!-- /* End Testamonial */  -->
