<br><br><br>
<div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Edit Profile</h4>
              <p class="card-category">Complete your profile</p>
            </div>
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating">First Name</label>
                      <input type="text" class="form-control"  [formControl]="firstname">
                      <mat-error *ngIf="firstname.hasError('required')">
                        First Name is <strong>required</strong>
                    </mat-error>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating">last Name</label>
                      <input type="text" class="form-control"  [formControl]="lastname">
                      <mat-error *ngIf="lastname.hasError('required')">
                        Last Name is <strong>required</strong>
                    </mat-error>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating">Password</label>
                      <input type="text" class="form-control" [formControl]="password">
                      <mat-error *ngIf="password.hasError('required')">
                        Password is <strong>required</strong>
                     </mat-error>
                     <mat-error *ngIf="password.hasError('minlength')">
                      Password length must be <strong>8 characters</strong>
                   </mat-error>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating">Confirm Password</label>
                      <input type="password" class="form-control" [formControl]="newpassword">
                      <mat-error *ngIf="newpassword.hasError('minlength')">
                        Password length must be at least <strong>8 characters</strong>
                     </mat-error>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating">Address</label>
                      <input type="text" class="form-control"  [formControl]="address">
                      <mat-error *ngIf="address.hasError('required')">
                        Address is <strong>required</strong>
                     </mat-error>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating">Mobile</label>
                      <input type="text" class="form-control"  [formControl]="mobile">
                      <mat-error *ngIf="mobile.hasError('required')">
                        Mobile is <strong>required</strong>
                     </mat-error>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating">Role Name</label>
                      <input type="text" class="form-control" value="{{roleName}}" Disabled>
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-success pull-right" 
                [disabled]="!Validation()" (click)="Update()">Update Profile</button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-profile">
            <div class="card-avatar">
              <a>
                <img class="img" src="../../../assets/EmployeeImg/{{imagePath.value}}"/>
              </a>
            </div>
            <div class="card-body">
                
                    <h6 class="card-category">{{roleName}}</h6>
                
              <h4 class="card-title">{{firstname.value +" "+ lastname.value}}</h4>
              <p class="card-description">
                “Don’t always scrape and search for compliments. Criticism is what builds character and strength”
              </p>

              <input type="file" accept="image/*" #imageinput id="imageinput"
               (change)="upload(imageinput.files)" hidden>

              <label for="imageinput" class="btn btn-success btn-round">Uploade Image</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>