
<div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Register Employee</h4>
              <p class="card-category">Add new user</p>
            </div>
            <div class="card-body">
              <form (submit)="register()" [formGroup]="registerForm">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      
                        <!-- <label class="bmd-label-floating">First Name</label> -->
                        <mat-form-field class="example-full-width w-100" appearance="legacy">
                            <mat-label>First Name</mat-label>
                            <input type="text" matInput formControlName="firstName">
                            <mat-error *ngIf="registerForm.controls['firstName'].hasError('required')">
                                First name is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    
                </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      
                        <!-- <label class="bmd-label-floating">last Name</label> -->
                        <mat-form-field class="example-full-width w-100" appearance="legacy">
                            <mat-label>Last Name</mat-label>
                            <input type="text" matInput formControlName="lastName">
                            <mat-error *ngIf="registerForm.controls['lastName'].hasError('required')">
                                Last Name is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    
                </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      
                        <!-- <label class="bmd-label-floating">Password</label> -->
                        <mat-form-field class="w-100" appearance="legacy">
                            <mat-label>Password</mat-label>
                            <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
                            <button class="border-0 hide-password" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                            <mat-error *ngIf="registerForm.controls['password'].hasError('required')">
                                Password is <strong>required</strong>
                            </mat-error>
                            <mat-error *ngIf="registerForm.controls['password'].hasError('minlength')">
                                Password must be at least 8 character
                            </mat-error>
                        </mat-form-field>
                    
                </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                    
                    <!-- <label class="bmd-label-floating">Email</label> -->
                    <mat-form-field class="example-full-width w-100" appearance="legacy">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput formControlName="email">
                        <mat-error *ngIf="registerForm.controls['email'].hasError('email')">
                            Enter a valid e-mail
                        </mat-error>
                        <mat-error *ngIf="registerForm.controls['email'].hasError('required')">
                            Email is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                    
                    <!-- <label class="bmd-label-floating">Address</label> -->
                    <mat-form-field class="example-full-width w-100" appearance="legacy">
                        <mat-label>Address</mat-label>
                        <input type="text" matInput formControlName="address">
                        <mat-error *ngIf="registerForm.controls['address'].hasError('required')">
                            Address is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      
                    <!-- <label class="bmd-label-floating">Mobile</label> -->
                    <mat-form-field class="example-full-width w-100" appearance="legacy">
                        <mat-label>Mobile</mat-label>
                        <input type="tel" matInput formControlName="mobile">
                        <mat-error *ngIf="registerForm.controls['mobile'].hasError('required')">
                            Phone Number is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    
                    </div>
                  </div>
                </div>

                <button type="submit" class="btn btn-success pull-right" 
                [disabled]="!formValidation()" >Add Employee</button>

                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>