
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class=" col-xl-4 col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="fas fa-check"></i>
                        </div>
                        <p class="card-category">Accepted Vacations</p>
                        <h3 class="card-title">
                            {{acceptedvacation}}
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Just Updated
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 ">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="fas fa-ban"></i>
                        </div>
                        <p class="card-category">Rejected Vacations</p>
                        <h3 class="card-title">
                            {{rejetedvacation}}
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Just Updated
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-7 col-md-6 col-sm-6 ">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-dollar"></i>
                        </div>
                        <p class="card-category">Salary</p>
                        <h3 class="card-title">
                            {{salary}}
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Just Updated
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>   