
<app-slider></app-slider>
<br>

<div >  

<div class="team-area ">
    <div class="container ">
        <div class="row ">
            <div class="col-md-12 ">
                <div class="section-title text-center ">
                    <h2>Top <span style="color:red;">8</span> Employee</h2>
                    <p>Meet Our most telented Team Member</p>
                </div>
            </div>

            <!--== Single Team Item ==-->
            <div class="col-md-3 " *ngFor= "let item of service.topTenEmployee;let i=index; first as isFirst" >
                <div class="single-team ">
                    <div class="team-img " >
                        <img src="../../../assets/images/faces/{{item.imagepath }}" alt=" " class="img-responsive ">
                    </div>
                    <div class="team-content ">
                        <div class="team-info ">
                            <h3>{{item.firstName +" " + item.lastName}}</h3>
                            <h3>{{item.name}}</h3>

                        </div>
                    </div>
                </div>
            </div>
       
           
            
            
            
            
        </div>
    </div>
</div>

 
<body style="--n-rows: 3; --n-cols: 6">
    <style>.hex-cell:nth-of-type(5n + 1) { grid-column-start: 2 }</style>
    <div class="hex-cell"><img src="../../../assets/cellsImg/{{service.cellsImage.img1}}"></div>
    <div class="hex-cell"><img src="../../../assets/cellsImg/{{service.cellsImage.img2}}"/></div>
    <div class="hex-cell"><img src="../../../assets/cellsImg/{{service.cellsImage.img3}}"/></div>
    <div class="hex-cell"><img src="../../../assets/cellsImg/{{service.cellsImage.img4}}"/></div>
    <div class="hex-cell"><img src="../../../assets/cellsImg/{{service.cellsImage.img5}}"/></div>
    <div class="hex-cell"><img src="../../../assets/cellsImg/{{service.cellsImage.img6}}"/></div>
    <div class="hex-cell"><img src="../../../assets/cellsImg/{{service.cellsImage.img7}}"/></div>
  </body>

  
<app-testimonial></app-testimonial>
 <app-footer-component></app-footer-component>
  
  

