<app-navbar-component></app-navbar-component>
   
    <div class='col-12' >  
        <ngb-carousel >  
            <ng-template ngbSlide >  
                <img src="/assets/picture/SliderHome/1.png" class="mh-100" style="width: 100%; height: 75vh" 
                alt="Delhi Metro" >  
                
            </ng-template>  
            <ng-template ngbSlide >  
                <img src="/assets/picture/SliderHome/2.png" class="mh-100" style="width: 100%; height: 75vh" 
                alt="Bangalore Metro" >  
                 
            </ng-template >  
            <ng-template ngbSlide >  
                <img src="/assets/picture/SliderHome/3.jpg" class="mh-100" style="width: 100%; height: 75vh" 
                alt="Channai Metro">  
              
            </ng-template>  
            <ng-template ngbSlide >  
                <img src="/assets/picture/SliderHome/4.jpg" class="mh-100" style="width: 100%; height: 75vh" 
                 alt="Jaipur Metro" >  
               
            </ng-template>  
            <ng-template ngbSlide >  
                <img src="/assets/picture/SliderHome/5.png" class="mh-100" style="width: 100%; height: 75vh"
                  alt="Mumbai Metro">  
                 
            </ng-template>  
        </ngb-carousel>  
  <br>
        <section id="about" class="about">
            <div class="container">
                <div class="col-md-12 ">
                    <div class="section-title text-center ">
                        <h2 class="text-secondary">Overview
                        </h2>
                    </div>
                </div>
               
                <div class="row">
                    <div class="col-lg-6">
                        <img src="/assets/picture/SliderHome/4.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0">
                        <h3 class="text-secondary" >Dot For Erp System</h3>
                        <p >
                            The perfect solution to solve and adjust employee time

                        </p>
                      
                            <div >
                                <i class="bx bx-receipt"></i>
                                <h4 class="text-secondary" >Be an ideal employee
                                </h4>
                                <p >You have to be an ideal employee, you have to work hard to be of high morals</p>
                            </div>
                            
                            
                        
                        <div >
                            <i class="bx bx-cube-alt"></i>
                            <h4 class="text-secondary" >work reaping
                            </h4>
                            <p >  Go hard and go forward and never look back, you will reap the fruits of your labor
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End overview Section -->
 
        <body style="--n-rows: 3; --n-cols: 6">
            <style>.hex-cell:nth-of-type(5n + 1) { grid-column-start: 2 }</style>
            <div  class="hex-cell" ><img  src="https://images.unsplash.com/photo-1519681393784-d120267933ba?w=650&amp;fm=jpg"/> 
                <p id="tt" style="color: red; text-align: center;" >Tameem </p></div>
            <div class="hex-cell"><img src="https://images.unsplash.com/photo-1497733942558-e74c87ef89db?w=650&amp;fm=jpg"/></div>
            <div class="hex-cell"><img src="https://images.unsplash.com/photo-1540744276164-9dc898353c7b?w=650&amp;fm=jpg"/></div>
            <div class="hex-cell"><img src="https://images.unsplash.com/photo-1469975692758-66d107a536cb?w=650&amp;fm=jpg"/></div>
            <div class="hex-cell"><img src="https://images.unsplash.com/photo-1490845060161-85f9ce08a9f4?w=650&amp;fm=jpg"/></div>
            <div class="hex-cell"><img src="https://images.unsplash.com/photo-1541673504494-8bcc1a340180?w=650&amp;fm=jpg"/></div>
            <div class="hex-cell"><img src="https://images.unsplash.com/photo-1515937350506-3e7b51a95339?w=650&amp;fm=jpg"/></div>
          </body>


    

   


<div class="team-area ">
    <div class="container ">
        <div class="row ">
            <div class="col-md-12 ">
                <div class="section-title text-center ">
                    <h2>Top <span style="color:red;">8</span> Employee</h2>
                    <p>Meet Our most telented Team Member</p>
                </div>
            </div>

            <!--== Single Team Item ==-->
            <div class="col-md-3 ">
                <div class="single-team ">
                    <div class="team-img " >
                        <img src="https://i.postimg.cc/1t2svTt5/1.jpg " alt=" " class="img-responsive ">
                    </div>
                    <div class="team-content ">
                        <div class="team-info ">
                            <h3>Lisa Ray</h3>
                            <p>Web Developer</p>
                        </div>
                        <p class="team-text ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quasi, vel.</p>
                    </div>
                </div>
            </div>
            <!--== Single Team Item ==-->
            <div class="col-md-3 ">
                <div class="single-team ">
                    <div class="team-img " >
                        <img src="https://i.postimg.cc/1t2svTt5/1.jpg " alt=" " class="img-responsive ">
                    </div>
                    <div class="team-content ">
                        <div class="team-info ">
                            <h3>Lisa Ray</h3>
                            <p>Web Developer</p>
                        </div>
                        <p class="team-text ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quasi, vel.</p>
                    </div>
                </div>
            </div>
            <!--== Single Team Item ==-->
            <div class="col-md-3 ">
                <div class="single-team ">
                    <div class="team-img " >
                        <img src="https://i.postimg.cc/1t2svTt5/1.jpg " alt=" " class="img-responsive ">
                    </div>
                    <div class="team-content ">
                        <div class="team-info ">
                            <h3>Lisa Ray</h3>
                            <p>Web Developer</p>
                        </div>
                        <p class="team-text ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quasi, vel.</p>
                    </div>
                </div>
            </div>
            <!--== Single Team Item ==-->
            <div class="col-md-3 ">
                <div class="single-team ">
                    <div class="team-img " >
                        <img src="https://i.postimg.cc/1t2svTt5/1.jpg " alt=" " class="img-responsive ">
                    </div>
                    <div class="team-content ">
                        <div class="team-info ">
                            <h3>Lisa Ray</h3>
                            <p>Web Developer</p>
                        </div>
                        <p class="team-text ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quasi, vel.</p>
                    </div>
                </div>
            </div>
            
            
            
        </div>
    </div>
</div>


<!-- <section class="gallery">
    <div class="gallery__item">
      <input type="radio" id="img-1" checked name="gallery" class="gallery__selector" />
      <img class="gallery__img" src="https://picsum.photos/id/1015/600/400.jpg" alt="" />
      <label for="img-1" class="gallery__thumb"><img src="https://picsum.photos/id/1015/150/100.jpg" alt="" /></label>
    </div>
    <div class="gallery__item">
      <input type="radio" id="img-2" name="gallery" class="gallery__selector" />
      <img class="gallery__img" src="https://picsum.photos/id/1039/600/400.jpg" alt="" />
      <label for="img-2" class="gallery__thumb"><img src="https://picsum.photos/id/1039/150/100.jpg" alt="" /></label>
    </div>
    <div class="gallery__item">
      <input type="radio" id="img-3" name="gallery" class="gallery__selector" />
      <img class="gallery__img" src="https://picsum.photos/id/1057/600/400.jpg" alt="" />
      <label for="img-3" class="gallery__thumb"><img src="https://picsum.photos/id/1057/150/100.jpg" alt="" /></label>
    </div>
    <div class="gallery__item">
      <input type="radio" id="img-4" name="gallery" class="gallery__selector" />
      <img class="gallery__img" src="https://picsum.photos/id/106/600/400.jpg" alt="" />
      <label for="img-4" class="gallery__thumb"><img src="https://picsum.photos/id/106/150/100.jpg" alt="" /></label>
    </div>
  </section> -->

 
  
  

