<h2>Testimonials</h2>
<div id="myCarousel" class="carousel slide" data-ride="carousel" >
	<!-- Carousel indicators -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
	</ol>   
	<!-- Wrapper for carousel items -->
	<div class="carousel-inner" >	
       <ng-container  *ngFor="let item of service.testimonial;let i=index; first as isFirst">
           
            <div  [ngClass]="isFirst ? 'carousel-item active' : 'carousel-item' " >
                
                <div class="img-box"><img src="../../../assets/images/faces/{{item.imagePath}}" alt=""></div>
                <p class="testimonial">{{ item.message }}</p>
                <p class="overview"><b>{{ item.firstName }} {{item.lastName}}</b></p>
				
            </div>
	
        </ng-container>
		
	</div>
	<!-- Carousel controls -->
	<a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
		<i class="fa fa-angle-left"></i>
	</a>
	<a class="carousel-control-next" href="#myCarousel" data-slide="next">
		<i class="fa fa-angle-right"></i>
	</a>

<app-slider></app-slider>
<br>

<div class="team-area ">
    <div class="container ">
        <div class="row ">
            <div class="col-md-12 ">
                <div class="section-title text-center ">
                    <h2>Top <span style="color:red;">8</span> Employee</h2>
                    <p>Meet Our most telented Team Member</p>
                </div>
            </div>

            <!--== Single Team Item ==-->
            <div class="col-md-3 ">
                <div class="single-team ">
                    <div class="team-img " >
                        <img src="https://i.postimg.cc/1t2svTt5/1.jpg " alt=" " class="img-responsive ">
                    </div>
                    <div class="team-content ">
                        <div class="team-info ">
                            <h3>Lisa Ray</h3>
                            <p>Web Developer</p>
                        </div>
                        <p class="team-text ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quasi, vel.</p>
                    </div>
                </div>
            </div>
            <!--== Single Team Item ==-->
            <div class="col-md-3 ">
                <div class="single-team ">
                    <div class="team-img " >
                        <img src="https://i.postimg.cc/1t2svTt5/1.jpg " alt=" " class="img-responsive ">
                    </div>
                    <div class="team-content ">
                        <div class="team-info ">
                            <h3>Lisa Ray</h3>
                            <p>Web Developer</p>
                        </div>
                        <p class="team-text ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quasi, vel.</p>
                    </div>
                </div>
            </div>
            <!--== Single Team Item ==-->
            <div class="col-md-3 ">
                <div class="single-team ">
                    <div class="team-img " >
                        <img src="https://i.postimg.cc/1t2svTt5/1.jpg " alt=" " class="img-responsive ">
                    </div>
                    <div class="team-content ">
                        <div class="team-info ">
                            <h3>Lisa Ray</h3>
                            <p>Web Developer</p>
                        </div>
                        <p class="team-text ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quasi, vel.</p>
                    </div>
                </div>
            </div>
            <!--== Single Team Item ==-->
            <div class="col-md-3 ">
                <div class="single-team ">
                    <div class="team-img " >
                        <img src="https://i.postimg.cc/1t2svTt5/1.jpg " alt=" " class="img-responsive ">
                    </div>
                    <div class="team-content ">
                        <div class="team-info ">
                            <h3>Lisa Ray</h3>
                            <p>Web Developer</p>
                        </div>
                        <p class="team-text ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quasi, vel.</p>
                    </div>
                </div>
            </div>
            
            
            
        </div>
    </div>

</div>


 
<body style="--n-rows: 3; --n-cols: 6">
    <style>.hex-cell:nth-of-type(5n + 1) { grid-column-start: 2 }</style>
    <div  class="hex-cell" ><img  src="https://images.unsplash.com/photo-1519681393784-d120267933ba?w=650&amp;fm=jpg"/> 
        <p id="tt" style="color: red; text-align: center;" >Tameem </p></div>
    <div class="hex-cell"><img src="https://images.unsplash.com/photo-1497733942558-e74c87ef89db?w=650&amp;fm=jpg"/></div>
    <div class="hex-cell"><img src="https://images.unsplash.com/photo-1540744276164-9dc898353c7b?w=650&amp;fm=jpg"/></div>
    <div class="hex-cell"><img src="https://images.unsplash.com/photo-1469975692758-66d107a536cb?w=650&amp;fm=jpg"/></div>
    <div class="hex-cell"><img src="https://images.unsplash.com/photo-1490845060161-85f9ce08a9f4?w=650&amp;fm=jpg"/></div>
    <div class="hex-cell"><img src="https://images.unsplash.com/photo-1541673504494-8bcc1a340180?w=650&amp;fm=jpg"/></div>
    <div class="hex-cell"><img src="https://images.unsplash.com/photo-1515937350506-3e7b51a95339?w=650&amp;fm=jpg"/></div>
  </body>

  
<app-testimonial></app-testimonial>
 <app-footer-component></app-footer-component>
  
  

