body{
    width: 100%;
}
table {
    width: 80%;
    text-align: center;
    justify-content:center;

}

  
  .mat-form-field {
    font-size: 14px;
    width: 80%;
  }
  
  td, th {
    text-align: center;

    
  }
  tr:hover{
    background-color: whitesmoke;

  }
  
  img{
    border-radius: 50%;

  }