
<br><br><br>
<div class="container-fluid">
  <button  id="export" (click)="exportToExcel()" class="btn btn-success text-white ">Excel</button>
  <button  id="export1" (click)="exportToCSV('employeesLeaves.csv')" class="btn btn-primary mx-3">CSV</button>
  <button  class="btn btn-danger" (click)="printBtn()"><span class="glyphicon glyphicon-print"></span> Print</button>

<br><br>


<div id="example">

<table mat-table [dataSource]="this.service.EmployeeList" 
class="mat-elevation-z8 sameh offset-1" id="tableData">

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Emp.no </th>
        <td mat-cell *matCellDef="let item"> {{item.id}} </td>
      </ng-container>
    
    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let item"> 
          <div style="display:inline-flex;">
          <ngx-avatar  size="40" *ngIf="item.imagepath===null" name="{{item.firstname + ' ' +item.lastname}}"></ngx-avatar>
          <img *ngIf="item.imagepath !== null && item.imagePath !== 'default.jpg'" src="../../../../assets/EmployeeImg/{{item.imagepath}}"  class="image">
          <span>{{item.firstname +" " + item.lastname}}  </span>
        </div>
        </td>
        
    </ng-container>
  
   
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> E-mail </th>
      <td mat-cell *matCellDef="let item"> {{item.email}} </td>
    </ng-container>
  
      <ng-container matColumnDef="mobile">
        <th mat-header-cell *matHeaderCellDef> Phone Number  </th>
        <td mat-cell *matCellDef="let item"> {{item.mobile}} </td>
      </ng-container>

      <ng-container matColumnDef="adress">
        <th mat-header-cell *matHeaderCellDef> Address  </th>
        <td mat-cell *matCellDef="let item"> {{item.address}} </td>
      </ng-container>

      
      <ng-container matColumnDef="salary">
        <th mat-header-cell *matHeaderCellDef> Salary  </th>
        <td mat-cell *matCellDef="let item"> {{item.salary}} </td>
      </ng-container>

      
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef > {{"    "}} </th>
        <td mat-cell *matCellDef="let item"> <ul class="action-list">
          
        
            <button type="submit" (click)="openDialog(item.id);" style="background-color: transparent;border: 0;"  >
              <i class="fa fa-edit" for="btn" >
  
              </i></button>
         
            <button type="submit" (click)="openDialogDelete(item.id);" style="background-color: transparent;border: 0;"  >
              <i class="fa fa-trash"></i>
            </button>
            </ul>
       
      </ng-container>
     
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  </div>
</div>

