
<div class="container-fluid">
   <button  id="export" (click)="exportToExcel()" class="btn btn-success text-white ">Excel</button>
  <button  id="export1" (click)="exportToCSV('members.csv')" class="btn btn-primary mx-3">CSV</button>
  <button  class="btn btn-danger" (click)="printBtn()"><span class="glyphicon glyphicon-print"></span> Print</button> 

  <div class="image-upload"  style="margin-top: 10px;">
  <label for="file-input">
    <img src="../../../../assets/OtherImage/excel_100767.jpg" style="width: 50;height: 50px;"/>
  </label>
  <input #fileinput type="file"  (change)="upload(fileinput.files)" />
</div>
<br><br><br>
<div style="display: none;">{{this.service.EmployeeList[5].email}}</div>
<div id="example">
<table mat-table [dataSource]="this.service.EmployeeList" class="mat-elevation-z8 offset-1" id="tableData">

    <ng-container matColumnDef="imagepath">
      <th mat-header-cell *matHeaderCellDef> Picture </th>
      <td mat-cell *matCellDef="let row"> <img class="img" style="height: 50px; width: 50px; margin-bottom: 10px;margin-top: 10px;"
        src="../../../../assets/images/faces/{{row.imagepath}}"> </td>
    </ng-container>
     
    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef> Last Name </th>
      <td mat-cell *matCellDef="let row"> {{row.firstname + " " + row.lastname}} </td>
    </ng-container>
  
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let row"> {{row.email}} </td>
    </ng-container>

    <ng-container matColumnDef="mobile">
      <th mat-header-cell *matHeaderCellDef> Phone Number </th>
      <td mat-cell *matCellDef="let row"> {{row.mobile}} </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Address </th>
      <td mat-cell *matCellDef="let row"> {{row.address}} </td>
    </ng-container>

    <ng-container matColumnDef="salary">
      <th mat-header-cell *matHeaderCellDef> Salary </th>
      <td mat-cell *matCellDef="let row"> {{row.salary}} </td>
    </ng-container>
    
    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row"> 
        <input type="submit" class="btn btn-success" value="Edit" (click)="openDialog(row.id);"  >
      </td>
    </ng-container>



     
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons 
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
  </div>
  
  
