<div class="form-container sign-up-container">

    <form class="example-form" (submit)="forgotPassword()" [formGroup]="registerForm">
        <h1 class="mb-3">Forgot Password!</h1>
        <!-- First Name -->
        <p>Don't Worry, enter your information</p>
        <br>
        <br>
        <mat-form-field class="example-full-width w-100" appearance="legacy">
            <mat-label>First Name</mat-label>
            <input type="text" matInput formControlName="firstName">
            <mat-error *ngIf="registerForm.controls['firstName'].hasError('required')">
                First name is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <!-- Last Name -->
        <mat-form-field class="example-full-width w-100" appearance="legacy">
            <mat-label>Last Name</mat-label>
            <input type="text" matInput formControlName="lastName">
            <mat-error *ngIf="registerForm.controls['lastName'].hasError('required')">
                Last Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <!-- Email -->
        <mat-form-field class="example-full-width w-100" appearance="legacy">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email">
            <mat-error *ngIf="registerForm.controls['email'].hasError('email')">
                Enter a valid e-mail
            </mat-error>
            <mat-error *ngIf="registerForm.controls['email'].hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <button [disabled]="!formValidation()" class="btn btn-outline-danger">Register</button>
    </form>
</div>
