
<link href="https://fonts.googleapis.com/css?family=Raleway:600,900" rel="stylesheet">
<br><br>
<form >
    <input type="file" #fileinput  accept="image/*"  multiple style="margin-right: 12px;" />
    
    <input  type="submit" class="btn btn-success btn-round"
    style="background-color: rgb(216, 13, 13); width: 130px;height: 30px;;"  (click)="UploadImageSlider(fileinput.files)">
</form>
      
        <body style="margin-top: -10px;">
          <div class="gallery-image">
            <div class="img-box" *ngFor="let item of this.service.imageSlider">
              <img src="../../../assets/SliderImage/{{item.image}}" alt="" />
              <div class="transparent-box">
                <div class="caption">
                  <p>Library</p>
                </div>
              </div>
            </div>
            </div>
           
        </body>
        
