<br><br><br>
<div class="container-fluid">
  <button  id="export" (click)="exportToExcel()" class="btn btn text-white" 
  style="background-color: rgb(20, 160, 20);"> <i class="fa fa-file-excel-o"> Excel</i></button>
  <button  id="export1" (click)="exportToCSV('employeesLeaves.csv')" class="btn btn-primary mx-3">
    <i class='fas fa-file-csv'> CSV</i></button>
  <button  class="btn btn-danger" (click)="printBtn()"><span class="glyphicon glyphicon-print"></span> 
    <i class="fa fa-file-pdf-o"> Print</i></button>
<br><br><br>
<form  [formGroup]="employeeattendance" (ngSubmit)="attendance()">
    <div style="display:flex;flex-direction: row; flex-wrap: wrap;">
        <mat-form-field class="example-full-width w-60 offset-1"  appearance="outline" >
            <mat-label>Employee Id</mat-label>
            <input type="number" matInput formControlName="employeeId" placeholder="Enter Employee Id">
            <mat-error *ngIf="employeeattendance.controls['employeeId'].hasError('required')">
                Employee Id is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <button type="submit" style="height: 40px; position: relative;top: 15px;" 
         class="btn btn-success offset-1" >Search</button>
    </div>
</form>
<br><br>

<div id="example">
<table mat-table [dataSource]="service.attendancelist" class="mat-elevation-z8 sameh offset-1"  id="tableData">
 
    
    <ng-container matColumnDef="employeeid">
      <th mat-header-cell *matHeaderCellDef> Employee No. </th>
      <td mat-cell *matCellDef="let IAttendance">{{IAttendance.employeeid}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="checkin">
      <th mat-header-cell *matHeaderCellDef> Check In </th>
      <td mat-cell *matCellDef="let IAttendance"> {{IAttendance.checkin|date:'medium'}} </td>
    </ng-container>

      <ng-container matColumnDef="checkout">
        <th mat-header-cell *matHeaderCellDef> Check Out </th>
        <td mat-cell *matCellDef="let IAttendance">{{IAttendance.checkout|date:'medium'}} </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

  </div>
 



